@{
    ViewData["Title"] = "Home Page";
}





        <div class="parent">
        <div class="div3">
        <h1 class="display-4">Welcome</h1>

        </div>
    <div class="div6">
        <button type="button"
                class="btn btn-primary rounded-pill px-4 py-2 shadow d-flex align-items-center gap-2 transition"
                onclick="location.href='@Url.Action("Index", "DriverHome", new { area = "Driver" })'">
            Driver Panel
        </button>

    </div>
    <div class="div13">
        <button type="button"
                class="btn btn-primary rounded-pill px-4 py-2 shadow d-flex align-items-center gap-2 transition"
                onclick="location.href='@Url.Action("Index", "RiderHome", new { area = "Rider" })'">
            <i class="bi bi-house-door-fill"></i>Rider Panel
        </button>
    </div>

</div>