
@{
    ViewData["Title"] = "Stress";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Specifies the layout page to use
}

@section Styles {
    <style>
        #map {
            height: 400px;
            width: 100%;
            border-radius: 8px;
        }
    </style>
}
<div id="map"></div>
